@charset "utf-8";
// Global variables
// ========================================================================

// Font size
// ------------------------------------------------------------------------
$font-size-h1:            2.2rem !default;
$font-size-h2:            2.0rem !default;
$font-size-h3:            1.8rem !default;
$font-size-lg:            1.6rem !default;
$font-size-base:          1.4rem !default;
$font-size-small:         1.3rem !default;
$font-size-min:           1.2rem !default;


$base-color:              #20a0ff !default;
$theme-color-normal:      #3b4b57 !default;
$theme-color-light:       #cad6f6 !default;
$theme-color-dark:        #324057 !default;

$base-border-color:       #ddd !default;

$text-gray:               #ccc !default;
$text-gray-dark:          #888 !default;

